.game {
   @include ss.block;
   @include ss.flex($flex-direction: column);

   padding: 0;

   button {
      background: $accent-color;
      border: none;
      border-radius: inherit;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
   }

   img {
      @include ss.model(150px);

      border-radius: inherit;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
   }
}

.post {
   @include ss.block('inline');

   cursor: pointer;

   .header {
      @include ss.flex($justify-content: space-between, $align-items: center);
   }
}

.social {
   @include ss.model(fit-content);

   display: block;
   height: 50px;

   :hover {
      background-color: ss.$gray-web;
   }

   > img {
      @include ss.border-radius('inline');
      @include ss.model(50px);

      padding: 5px;
   }
}
